/* Default box style */
.clock>box,
.volume>box>revealer>box,
.calendar>box,
.workspace > box > revealer > box{
    background: #111115;
    box-shadow: 0 0 10px 7px #121212;
    border-radius: 10px;
}


*{
    font-family: "Trench";
    font-weight: 700;
}

/* Clock widget */
.clock > box{
    margin: 100px;
    padding:20px;
}

.clock > box > label {
    font-size: 90px;
    color: #ccccbb;
}

/* Calendar widget */

.calendar > box{
    margin: 100px;
}
calendar {
    all: unset;
    padding: 4px 4px 0px;
    font-size: 1.1em;
    padding: .2em;
    margin: 100px;
    font-family: "Typo Round Bold Demo";
    font-weight: 100;
}

calender:selected{
    background-color: #ccccbb;
}

.calendar > box > button{
    border-radius: 0;
    border-radius: 2px 2px 10px 10px;
}

/* Volume widget */
.volume>box>revealer>box{
    box-shadow: 0 0 5px 2px #121212;
    margin: 20px 20px 50px 20px;
    min-width:200px;
}

/*Slider value color*/
.volume>box>revealer>box>scale trough highlight{
    min-height: 30px;
    min-width:  30px;
    background-color:#ccccbb;
    border:none;
    border-radius:100px;
    margin:1px;
    
}

/*Slider background*/
.volume>box>revealer>box>scale trough{
    background-color:#212126;
    border:none;
    border-radius:100px;
}

/*Thumb*/
.volume>box>revealer>box>scale trough slider{
    background-image:none;
    /* background-color: #4f4f66; */
    background-color: rgba(0,0,0,0);
    border:none;
    box-shadow:none;
}

.volume>box{
    padding: 1px;
}

.volume{
    background-image:none;
    background-color:transparent;
}

.volumeValue{
    min-width: 30px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 900;
}

.test>box{
    padding:1px;
}
.test>box>revealer>box>label{
    font-size:30px;
}

/* Workspace */
.workspace > box{
    padding: 1px;
}
.workspace > box> revealer > box > label{
    all:unset;
}
.workspace>box>revealer>box{
    box-shadow: 0 0 5px 5px #121212;
    margin: 10px;
    padding: 10px;
}
.workspace>box>revealer>box>button{
    font-size:10px;
    padding:0;
    margin:0;
}

/* shutdown button */
.workspace>box>revealer>box>button>label{
    margin:0;
    padding:0;
    border-radius:99px;
    border:none;
}

/* Workspace dot */
.spaceDot{
    background: #212126;
    margin:0px 3px 0px 3px;
    transition: .5s ease, background .2s ease;
    border-radius: 20px;
    min-width: 20px;
    min-height: 20px;
}
.spaceDot.focus{
    min-width: 40px;
    background: #ccccbb;
}
